/* * - quer dizer que o que está configurado dentro dele vale para todo 
o código */

*{
    box-sizing: border-box;
}

body{
    padding: 70px;
    text-align-last: center;
    font-family: sant;
    color: white;
    background-image: url(gif3.gif);
    background-attachment: fixed;
    background-repeat: repeat;
}

h3{
    font-size: 45px;
}

.campo {
    margin-bottom: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="password"],
.campo textarea {
    padding: 0.2em;
    border: 1px solid #CCC;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background:  #e6f2ff;
}


.botao {
    font-size: 1.5em;
    background: #3385ff;
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.botao:hover {
    background: #99c2ff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao{
    cursor: pointer;
}